.embla {
    --slide-spacing: 1rem;
    --slide-size: 70%;
    --slide-height: 19rem;
    @media (max-width: 640px) {
        --slide-size: 95%;
    }
    padding: 1.6rem;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.embla__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

.embla__button path {
    fill: white;
}

.embla__button:hover path {
    fill: lightblue;
}

.embla__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.embla__button__svg {
    width: 65%;
    height: 65%;
}
