
.paddingFooter {
    padding: 25rem;
    transition: padding 0.3s ease;
  
    @media (max-width: 1792px) {
        padding: 20rem; 
      }
    @media (max-width: 1536px) {
      padding: 18rem; 
    }
    @media (max-width: 1472px) {
      padding: 15.5rem; 
    }
    @media (max-width: 1408px) {
      padding: 13rem; 
    }
    @media (max-width: 1344px) {
      padding: 10.5rem; 
    }
    @media (max-width: 1280px) {
      padding: 8rem; 
    }
    @media (max-width: 1152px) {
      padding: 5.5rem;
    }
    @media (max-width: 1024px) {
      /* padding: 15%;  */
      padding: 4rem;
    }
  }