
.uofmn:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxUMN.png"), pointer;
}
  
.magicWand:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxMagicWand.png"), pointer;
}

.scratch:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxScratch.png"), pointer;
}

.speech:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxSpeech.png"), pointer;
}

.globe:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxGlobe.png"), pointer;
}

.fire:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxMatch.png"), pointer;
}
  
.basketball:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxBasketball.png"), pointer;
}

.steak:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxSteak.png"), pointer;
}

.easterEgg:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxEasterEgg.png"), pointer;
}

.adventure:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxTreasureMap.png"), pointer;
}

.couch:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxCouch.png"), pointer;
}

.cremeBrulee:hover {
    color: deepskyblue;
    cursor: url("../../../public/about/cursorimages/32pxCremeBrulee.png"), pointer;
}