@keyframes slideRL {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
}

.transition-transform-rl {
    animation: slideRL 1s forwards;
}

@keyframes slideLR {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.transition-transform-lr {
    animation: slideLR 1s forwards;
}

.zoom-on-hover {
    transition: transform 0.3s ease; /* Add a smooth transition for the zoom effect */
  }
  
.zoom-on-hover:hover {
    transform: scale(1.1); /* Scale the element on hover */
}