
.cursorGlow {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.cursorGlow.visible {
    opacity: 1;
}

.radialGradient {
  position: fixed;
  @media (min-width: 640px) {
    background: radial-gradient(600px at var(--cursor-x) var(--cursor-y), rgba(29, 78, 216, 0.25), transparent 80%);
  }
}