.fishPosition1,
.fishPosition2,
.fishPosition3,
.fishPosition4,
.fishPosition5 {
  position: absolute;
}
.fishPosition1 {
  animation: fish 1.8s ease infinite alternate;
  right: -7rem;
  bottom: 55%;
}
.fishPosition2 {
  animation: fish 1.2s ease infinite alternate;
  right: 7rem;
  bottom: 45%;
}
.fishPosition3 {
  animation: fish 1.6s ease infinite alternate;
  right: -2rem;
  bottom: 33%;
}
.fishPosition4 {
  animation: fish 1.5s ease infinite alternate;
  right: 1rem;
  bottom: 27%;
}
.fishPosition5 {
  animation: fish 1.3s ease infinite alternate;
  right: -4rem;
  bottom: 10%;
}

@keyframes fish {
  from {
    transform: translate(-4px, -2px);
  }
  to {
    transform: translate(0px, 0px) rotate(1deg);
  }
}

.bod {
  color: #c8dfff;
  transform-origin: 0 50%;
}

.eye {
  color: #002c9b;
}

.fintail {
  color: #002c9b;
  transform-origin: 200px;
}

.finbackbottom {
  color: #002c9b;
  transform-origin: 155px;
}

.finfrontbottom {
  color: #002c9b;
  transform-origin: 76px;
}

.finfronttop {
  color: #002c9b;
  transform-origin: 80px;
}

.findorsel {
  color: #002c9b;
  transform-origin: 80px;
  transform: rotate(2deg) translate(2px, 3px);
}

.finbacktop {
  color: #002c9b;
  transform-origin: 145px;
}
