.projectWrapper {
    width: 100%;
    position: relative;
    background-color: #f6f2ee;

    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectWrapper .projectDescriptionDiv {
    opacity: 0;
    transition: opacity 0.5s;
}

.projectWrapper .projectDescriptionDiv .arrow {
    transition: transform 0.5s;
}

.projectWrapper:hover .projectDescriptionDiv {
    opacity: 0.9;
}

.projectWrapper:hover .projectDescriptionDiv .arrow {
    transform: translate(1rem);
}

.projectWrapper .projectImage {
    pointer-events: none;
    transition: transform .3s ease;
}

.projectWrapper:hover .projectImage {
    transform: scale(0.9);
}

.projectDescriptionDiv {
    text-align: center;
    background-color: #f6f2ee;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    pointer-events: none;
}


.mobileImage {
    opacity: 0;
    display: none;
}

@media only screen and (max-width: 468px) {
    .desktopImage {
        opacity: 0;
        display: none;
    }

    .mobileImage {
        opacity: 1;
        display: block;
    }
}