.dropIn1 {
  animation: slideTB1 2.5s forwards;
}

@keyframes slideTB1 {
  0% {
    transform: translateY(-125%);
    opacity: 0;
  }
  20% {
    transform: translateY(-125%);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropIn2 {
  animation: slideTB2 2.5s forwards;
}

@keyframes slideTB2 {
  0% {
    transform: translateY(-125%);
    opacity: 0;
  }
  40% {
    transform: translateY(-125%);
    opacity: 1;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropIn3 {
  animation: slideTB3 2.5s forwards;
}

@keyframes slideTB3 {
  0% {
    transform: translateY(-125%);
    opacity: 0;
  }
  60% {
    transform: translateY(-125%);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropIn4 {
  animation: slideTB4 2.5s forwards;
}

@keyframes slideTB4 {
  0% {
    transform: translateY(-125%);
    opacity: 0;
  }
  80% {
    transform: translateY(-125%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
