@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-position: center;
  background-color:rgb(246 247 242);
  /* min-width: 700px; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.mobileSticky {
  position: fixed;

  /* formerly 640px */
  @media (min-width: 768px) {
    position: absolute;
  }
}

.mobileFeatureWidth {
  width: 100%;

  @media (min-width: 768px) {
    width: 60%;
  }
}

.mobileImageBackground {
  position: absolute;
  margin-left: 0;
  opacity: 0;
  margin-top: -4.5rem;
  width: 100%;
  min-height: 100vh;

  @media (min-width: 768px) {
    margin-left: -40%;
    opacity: 1;
  }
}

.vertical-timeline {
  padding: 0 !important;
  padding-top: 0.1em !important;
}

.artifactWord {
  color: lightblue;
  font-weight: bold;
}

.sidebarLeftPadding {
  padding-left: 8rem;
  transition: padding 0.3s ease;

  @media (max-width: 1080px) {
    padding-left: 5rem; 
  }
  @media (max-width: 956px) {
    padding-left: 3rem; 
  }
  @media (max-width: 584px) {
    padding-left: 2rem; 
  }
  @media (max-width: 496px) {
    padding-left: 1rem;
  }
}

.sidebarRightPadding {
  padding-right: 8rem;
  transition: padding 0.3s ease;

  @media (max-width: 1080px) {
    padding-right: 5rem; 
  }
  @media (max-width: 956px) {
    padding-right: 3rem; 
  }
  @media (max-width: 584px) {
    padding-right: 2rem; 
  }
  @media (max-width: 496px) {
    padding-right: 1rem;
  }
}

.sidebarTopPadding {
  padding-top: 5rem;
  transition: padding 0.3s ease;

  @media (max-width: 864px) {
    padding-top: 2rem; 
  }
}

.sidebarBottomPadding {
  padding-bottom: 5rem;
  transition: padding 0.3s ease;

  @media (max-width: 864px) {
    padding-bottom: 2rem; 
  }
}

.featuredRightPadding {
  padding-right: 8rem;
  transition: padding 0.3s ease;
  width: 100%;
  right: 0;
  position: relative;
  z-index:1;

  @media (max-width: 1204px) {
    padding-right: 3rem; 
  }
  @media (max-width: 1080px) {
    padding-right: 1rem; 
  }
  @media (max-width: 864px) {
    padding-right: 0; 
  }
}

.textHover:hover {
  /* color: #646464 */
  color: darkgray;
}

.scrollHover {
  min-height: 4rem;
  max-height: 4rem;
  transition: min-height 0.3s linear; 
}

.scrollHover:hover {
  color: #574e4e;
  fill: #574e4e;
  min-height: 5.25rem;
  max-height: 5.25rem;
  justify-content: space-between;
}


@keyframes slideRL {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.transition-transform-rl {
  animation: slideRL 1s forwards;
}

@keyframes slideLR {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.transition-transform-lr {
  animation: slideLR 1s forwards;
}

.zoom-on-hover {
  transition: transform 0.3s ease; /* Add a smooth transition for the zoom effect */
}

.zoom-on-hover:hover {
  transform: scale(1.08);
}

@keyframes underline {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.group:hover .underline {
  animation: underline 0.30s forwards;
}

.clickme {
  animation: expandAnimation 2s ease-in-out infinite;
}

.clickme:hover, .clickme:focus {
  animation-play-state: paused;
}

@keyframes expandAnimation {
  0%, 40%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15);
  }
}

.pulse:hover {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.15);
  }
  100% {
    box-shadow: 0 0 0 18px rgba(0, 0, 0, 0);
  }
}

.projectCard:hover:before {
  background-position: 100% 100%;
}

.projectCard:before {
  background: linear-gradient(130deg,
  #f6f2ee 0% 33%,
  #faeeee 70%,
  lightblue 87%,
  #faeeee 100%);
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  position: absolute;
  transition: background-position .5s ease;
  width: 100%;
  border-radius: 0.5rem;
}

.featured {
  background: linear-gradient(180deg,
  #0d2b52 0 40%,
  #0f0f0f 80%
  );
}

.fade_in {
  animation: fadeInAnimation 0.4s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-5px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}