@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes wave {
  0%, 100% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(0deg);
  }
}

.handwave {
  display: inline-block;
  font-size: 2em;
  animation: wave 2s infinite;
}

@keyframes slideRL {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.transition-transform-rl {
  animation: slideRL 1s forwards;
}

@keyframes slideLR {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.transition-transform-lr {
  animation: slideLR 1s forwards;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.group:hover .underline {
  animation: underline 0.30s forwards;
}